.Phonetics {
  margin: 20px 0;
}

.Phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: #9670f4;
  color: white;
}
